<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Admin Registration Panel</title>
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/adminLogin">Admin</a></li>
            <li><a id="active" href="/adminRegister">Admin Register</a></li>
            <li><a href="/organizationLogin">Login</a></li>
        </ul>
    </nav>

    <video id="video-background" autoplay muted loop>
        <source src="{{url_for('static', filename='assets/ePassportTemplatee.mp4')}}" type="video/mp4">
    </video>

    <div class="container">
        <div class="container-left">
            <div class="video-container">
                <video class="face-id" id="video" autoplay></video>
                <canvas id="canvas" style="display: none; height: 350px; width: 350px;">
                </canvas>    
            </div>
            <div id="container-buttons">
                <button onclick="capture()">Take photo</button>
            </div>
        </div>
            <div class="container-right">
                <h3>Register Account</h3>
                <div id="container-input">
                    <label for="regUsername">Username:</label>
                    <input type="text" id="regUsername" required>
                </div>
                <div id="container-input">
                    <label for="regPassword">Password:</label>
                    <input type="password" id="regPassword" required>
                </div>
                <div id="container-input">
                    <label for="regMetaMaskAddress">MetaMask Address:</label>
                    <input type="text" id="regMetaMaskAddress" name="regMetaMaskAddress">                 
                </div>
                <div id="container-buttons-3">
                    <button onclick="register()">Register</button>
                    <button onclick="registerAdmin()">Register Admin</button>
                    <button onclick="adminLogout()">Admin Logout</button>
                </div>
            </div>
    </div>

    <script src="../static/js/script.js"></script>

</body>
</html>