<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚠️ UNAUTHORIZED ⚠️</title>
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 5000); // Redirect after 10 seconds
    </script>
</head>
<body style="background-color: black;">
    <h1 style="color: white; font-size: 50px;">⚠️ AUTHORIZED ACCESS ONLY ⚠️</h1>
    <a style="color: aliceblue; text-decoration: none;">Press here if not redirected in 5 seconds</a>
</body>
</html>
