<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging out...</title>
</head>
<body>
    <a style="color: aliceblue; text-decoration: none;">Press here if not redirected in 5 seconds</a>
</body>
<script src="../static/js/script.js"></script>
<script>
     setTimeout(function() {
        logout();
            window.location.href = "/";
        }, 5000); // Redirect after 10 seconds
</script>
<script src="../static/js/script.js"></script>

</html>
