#videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; /* Ensure the video stays behind other content */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80vh;
}

.mainContainer h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.passportFormPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: auto;
  width: 90%;
  height: 100vh;
}

.passportTableContainer {
  width: 100%;
  margin-top: 40px;
}

.passportFormContainer {
  width: 90%;
}
.container,
.containerTable{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px auto;
  width: 100%;
  z-index: 1;
  padding: 20px;
  }

.containerTable{
  flex-direction: column;
}

.container h1,
.containerTable h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color:white;
}

.container button {
  background-color: #00ffdd27; /* Green */
  border: 2px solid #00ffdd;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 5px;
  cursor: pointer;
  width: 250px;
}

.container button:hover {
  background-color: #00ffdd; /* Green */
} 

.container a {
color: white;
font-family: 'Times New Roman', Times, serif;
text-transform: capitalize;
}

.search {
  width: 100%;
  float: right;
  margin-bottom: 16px;
  margin-top: -70px;
}

.search h1,
.form h1 {
  float: left;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: none;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.944)
}

.search input{
  width: 40%;
  max-width: 300px;
  padding: 12px;
  border: none;
  background-color: #42324E;
  border-radius: 4px;
  margin-top: 6px;
  float: right;
  color: rgba(255, 255, 255, 0.919);
  margin-bottom: 16px;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.479);
}
.search select {
  padding: 12px;
  border-radius: 4px;
  margin: 6px 3px 16px 0px;
  background-color: #42324E;
  border: none;
  float: right;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.479);
}

.tableButtons {
  display: flex;

}

.table button {
  background-color: unset;
  border: none;
  width: unset;
  height: unset;
  padding: 10px;
  /* background-color: #00ffdd27;
  border: 1px solid #00ffdd;
  color: white;
  padding: 2px 12px;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  */
  cursor: pointer;
  font-size: 14px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  border: 1px dashed #42324E;
}

.table th,
.table td {
  padding: 12px 0px;
}


.table th {
  border: 1px dashed #ffffff46;
}

.table th {
  background-color: #42324E;
}

.table tbody tr:nth-child(even) {
  background-color: #392744;
}

.table tbody tr:hover {
  background-color: #2c1e35;
}

.button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 4px;
}

.button:hover {
  background-color: #777;
}



/* Navbar styling */
.Navbar {
  background-color: #0000005d; /* Background color */
  overflow: hidden;
}

.Navbar ul {
  list-style-type: none;
  margin: 8px 110px 0px 0px;
  padding: 0;
}

.Navbar li {
  float: right;
}

.Navbar li a {
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar li a:hover {
  border-bottom: 2px solid #00ffdd68;
  color: rgb(255, 255, 255); 
}

.active{
  border-bottom: 2px solid #00ffdd;
  color: rgb(255, 255, 255); 
}

/* Home.module.css */

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5); /* Semi-transparent grey cover */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure spinner is on top of other content */
}


.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Lighter border */
  border-left-color: #f16363; /* Blue border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  background-color: #392744;
  margin-top: 8px;
  height: 42px;
}

.custominput {
  flex-grow: 1;
}

.custominput input[type=radio] {
  display: none;
}

.custominput label {
  display: block;
  padding: 8px 0px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition : all .4s 0s ease;
}

.custominput input[type=radio]:checked + label {
  background-color: #605169;
  color: #ffffff;
  border-radius: 4px;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.formContainer {
  border: 1px dashed #42324E;
  margin-top: 26px;
}

.form span {
  margin-bottom: 10px;
  font-size: 18px;
}

.form input[type="submit"] {
  background-color: #00ffdd27;
  border: 1px solid #00ffdd;
  color: white;
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}


.formTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form label {
  color: white;
}

.formTop input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

.formbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 20px;
  width: 100%;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.formInput select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

.formInput input[type="date"]{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

.form input[type="submit"] {
  margin: auto;
  margin-top: 20px;
  width: 90%;

}


.Navbar .logoutButton {
  background-color: #00ffdd29;
  border:1px solid #00ffdd8c;
  border-radius: 10px;
  padding: unset;
  margin-top: 7px;
  margin-left: 8px;
  padding: 7px 15px;
  overflow-y: scroll;
}


.test {
  width: 127vh;
  height: 54vh;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #7f718a33;
  overflow: hidden;
  padding: 20px 10px;
}

.test button {
  margin-bottom: 10px;
  font-size: 10px;
  padding: 0px 5px;
}

.test p{
  color: #919191;
  font-size: 8px;
  line-height: 15px;
  font-family: 'lucida console';
}

.testTick span{
  color: #00ffdd;
}