.body {
  background-color: #1F1C21;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  height: 60px;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form span {
  margin-bottom: 10px;
  font-size: 18px;
}

.form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}


.table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 50%;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0b84ff;
}

/* Home.module.css */

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5); /* Semi-transparent grey cover */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure spinner is on top of other content */
}


.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Lighter border */
  border-left-color: #f16363; /* Blue border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.table {
  color: #C6BACD;
}

.table tbody tr {
  border-bottom: 1px solid #9000ff; /* Darker border between rows */
}

.table th {
  background-color: #2a1138; /* heading (top row) of table */
}

/* Table body styles */
.table tbody tr:nth-child(odd) {
  background-color: #42324E; /* table body odd numbered rows */
  border: 3px solid #42324E;
}

.table tbody tr:nth-child(even) {
  background-color: #362D3B; /* table body even numbered rows */
}


.table td,
.table th {
  border: 3px solid #42324E;
}
